# Chapter-6: Advanced Machine learning

- **Loading important libraries:**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [3]:
import warnings
warnings.filterwarnings('ignore')

- **Loading the dataset:**
  The dataset contains the examples of advertisement spends across multiple channels such as Radio, TV, and Newspaper, and the corresponding sales revenue generated at different time periods. The dataset is taken from a chapter in the book titled “Introduction to Statistical Learning” by James et al. (2013). The dataset has the following elements:
  1. TV – Spend on TV advertisements
  2. Radio – Spend on radio advertisements
  3. Newspaper – Spend on newspaper advertisements
  4. Sales – Sales revenue generated

In [18]:
sales_df =pd.read_csv('Advertising.csv')
sales_df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [19]:
sales_df = sales_df.drop(columns=['Unnamed: 0'], axis=1)
sales_df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

- **Set X and Y Variables**

In [20]:
X = sales_df.iloc[:, :-1]
y = sales_df.iloc[:, -1]

In [21]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [22]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

- **Standardize X and y**
  here we have used following formula:

  $$ X_{\text{normalized}} = \frac{X - \bar{X}}{\sigma_X}$$

  and 

  $$ y_{\text{normalized}} = \frac{y - \bar{y}}{\sigma_y}$$

  where 
  - X are the feature data points
  - y depedent variable data points
  - All variables with bar represnts the mean value and $\sigma$ represent the standard deviation.

In [23]:
y = np.array((y-y.mean())/y.std())
X = X.apply(lambda x: (x - x.mean())/x.std(), axis = 0)

In [17]:
X.head()

         TV     Radio  Newspaper
0  0.967425  0.979066   1.774493
1 -1.194379  1.080097   0.667903
2 -1.512360  1.524637   1.779084
3  0.051919  1.214806   1.283185
4  0.393196 -0.839507   1.278593

- **Implementing the Gradient Descent Algorithm** 
  Here we will now implement the gradient decent method to